<script>
  // eslint-disable-line import/no-unresolved -- Refers to a URL in `public`
  import Counter from './lib/Counter.svelte';
</script>

<main>
  <h1>Vite + Svelte</h1>

  <div class="card">
    <Counter />
  </div>

  <p>
    Check out <a
      href="https://github.com/sveltejs/kit#readme"
      target="_blank"
      rel="noreferrer">SvelteKit</a
    >, the official Svelte app framework powered by Vite!
  </p>
</main>
